<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>TEST SITE</title>
    </head>
    <body>
        <h1>Welcome to Oregon Traffic</h1>
        <form action="/confirm", method = "post">
            <select id="cityName" name="cityName">
                <option></option>
                <option value="bend">Bend</option>
                <option value="portland">Portland</option>
                <option value="salem">Salem</option>
                <option value="eugene">Eugene</option>
                <option value="redmond">Redmond</option>
                <option value="sisters">Sisters</option>
                <option value="govtcamp">Government Camp</option>
            </select>
            <input type="submit" value="See Traffic">
        </form>
    </body>
</html>