<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset = "UTF-8">
        <title>Traffic Homepage</title>
        <link rel="stylesheet" href="static/home.css">
    </head>
    <body>
        <h1 id="welcome">Welcome to Oregon Traffic</h1>
        <form action="/confirm", method = "post" id="cityPicker">
            <h4>Please select a city</h4>
            <select id="cityName" name="cityName">
                <option></option>
                <option value="bend">Bend</option>
                <option value="portland">Portland</option>
                <option value="salem">Salem</option>
                <option value="eugene">Eugene</option>
                <option value="redmond">Redmond</option>
                <option value="sisters">Sisters</option>
                <option value="govtcamp">Government Camp</option>
            </select>
            <input type="submit" value="See Traffic">
        </form>
    </body>
</html>