<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>TEST SITE</title>
    </head>
    <body>
        <h1>Traffic for {{ city }}</h1>
        <!--<p>{{ tripCheckData }} </p>-->
        <img src="{{ camLink }}">
        <p>{{ dms1 }}</p>
        <p>{{ dms2 }}</p>
        <p>{{ dms3 }}</p>
        <p>{{ dms4 }}</p>
        <p>{{ dms5 }}</p>
        <p>{{ dms6 }}</p>
        <script>
            /*
            const tripCheckAPI = "a036194717464c84a1d0d623a518ed57";
            function trafficCam(camID) {
                fetch('https://api.odot.state.or.us/tripcheck/Cctv/Inventory?DeviceId='+camID+'&key='+tripCheckAPI, {

                })
                .then(function(resp) { return resp.json()})
                .then(function(data) {
                    console.log(data)
                })
            }
            window.onload = function(){
                trafficCam(236)
            }*/
        </script>
    </body>
</html>